.title_repo {
    font-weight: 800 !important;
    font-size: 28px;
  }
  .repo_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    position: relative;
    padding: 0;
  }
  .repo_item_list {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
  }
  .repo_container {
    max-width: 75%;
    margin: auto;
    padding: 2em;
    padding-top: 8em;
  }